.footer-form{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
}

.address-details{
    list-style-type: none;
    padding: 0;
}


#loader_gif{
    display: none;
    position: absolute;
    top: 120px;
    left: 37%;
    width: 100px;
    /*z-index: 100;*/
    margin: 50px auto 50px auto;
}