.footer-form{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
}

.address-details{
    list-style-type: none;
    padding: 0;
}